{%extends 'base.html' %}

{% block title %}
css page
{% endblock %}

{% block contents %}
<div class='navbar-sidebar navbar-collapse' id='sidenav'>
    <nav class="navbar navbar-expand-lg navigation-wrap">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div id='leftmenuinner'>
            <div id='leftmenuinnerinner'>
               
                <h2 class="left"><span class="left_h2">CSS</span> Tutorial</h2>
                <a target="_top" href="#html_home">CSS HOME</a>
                <a target="_top" href="">CSS Introduction</a>
                <a target="_top" href="">CSS Editors</a>
                <a target="_top" href="">CSS Basic</a>
                <a target="_top" href="">CSS Elements</a>
                <a target="_top" href="">CSS Attributes</a>
                <a target="_top" href="">CSS Headings</a>
                <a target="_top" href="">CSS Paragraphs</a>
                <a target="_top" href="">CSS Styles</a>
                <a target="_top" href="">CSS Formatting</a>
                <a target="_top" href="">CSS Quotations</a>
                <a target="_top" href="">CSS Comments</a>
                <a target="_top" href="">CSS Colors</a>

                <a target="_top" href="">CSS CSS</a>

                <a target="_top" href=""> CSS Links</a>
                <a target="_top" href="">Link Bookmarks</a>

                <a target="_top" href="">CSS Images</a>

                <a target="_top" href="">Images</a>
                <a target="_top" href="">Image Map</a>
                <a target="_top" href="">Background Images</a>
                <a target="_top" href="">The Picture Element</a>

                <a target="_top" href="">CSS Favicon</a>
                <a target="_top" href="">CSS Tables</a>

                <a target="_top" href="">CSS Tables</a>
                <a target="_top" href="">Table Borders</a>
                <a target="_top" href="">Table Sizes</a>
                <a target="_top" href="">Table Headers</a>
                <a target="_top" href="">Padding &amp; Spacing</a>
                <a target="_top" href="">Colspan &amp; Rowspan</a>
                <a target="_top" href="">Table Styling</a>
                <a target="_top" href="">Table Colgroup</a>




                <a target="_top" href="">CSS Lists</a>

                <a target="_top" href="">Lists</a>
                <a target="_top" href="">Unordered Lists</a>
                <a target="_top" href="">Ordered Lists</a>
                <a target="_top" href="">Other Lists</a>

                <a target="_top" href="">CSS Block &amp; Inline</a>
                <a target="_top" href="">CSS Classes</a>
                <a target="_top" href="">CSS Id</a>
                <a target="_top" href="">CSS Iframes</a>
                <a target="_top" href="">CSS JavaScript</a>
                <a target="_top" href="">CSS File Paths</a>
                <a target="_top" href="">CSS Head</a>
                <a target="_top" href="">CSS Layout</a>
                <a target="_top" href="">CSS Responsive</a>
                <a target="_top" href="">CSS Computercode</a>
                <a target="_top" href="">CSS Semantics</a>
                <a target="_top" href="">CSS Style Guide</a>
                <a target="_top" href="">CSS Entities</a>
                <a target="_top" href="">CSS Symbols</a>
                <a target="_top" href="">CSS Emojis</a>
                <a target="_top" href="">CSS Charset</a>
                <a target="_top" href="">CSS URL Encode</a>
                <a target="_top" href="">CSS vs. XHTML</a>
                <br>
                <h2 class="left"><span class="left_h2">CSS</span> Forms</h2>
                <a target="_top" href="">CSS Forms</a>
                <a target="_top" href="">CSS Form Attributes</a>
                <a target="_top" href="">CSS Form Elements</a>
                <a target="_top" href="">CSS Input Types</a>
                <a target="_top" href="">CSS Input Attributes</a>
                <a target="_top" href="">CSS Input Form Attributes</a>
                <br>
                <h2 class="left"><span class="left_h2">CSS</span> Graphics</h2>
                <a target="_top" href="">CSS Canvas</a>
                <a target="_top" href="">CSS SVG</a>
                <br>
                <h2 class="left"><span class="left_h2">CSS</span> Media</h2>
                <a target="_top" href="">CSS Media</a>
                <a target="_top" href="">CSS Video</a>
                <a target="_top" href="">CSS Audio</a>
                <a target="_top" href="">CSS Plug-ins</a>
                <a target="_top" href="">CSS YouTube</a>
                <br>
                <h2 class="left"><span class="left_h2">CSS</span> APIs</h2>
                <a target="_top" href="">CSS Geolocation</a>
                <a target="_top" href="">CSS Drag/Drop</a>
                <a target="_top" href="">CSS Web Storage</a>
                <a target="_top" href="">CSS Web Workers</a>
                <a target="_top" href="">CSS SSE</a>
                <br>
                <h2 class="left"><span class="left_h2">CSS</span> Examples</h2>
                <a target="_top" href="">CSS Examples</a>
                <a target="_top" href="">CSS Quiz</a>
                <a target="_top" href="">CSS Exercises</a>
                <a target="_top" href="">CSS Certificate</a>
                <a target="_top" href="">CSS Summary</a>
                <a target="_top" href="">CSS Accessibility</a>
                <br>
                <h2 class="left"><span class="left_h2">CSS</span> References</h2>
                <a target="_top" href="">CSS Tag List</a>
                <a target="_top" href="">CSS Attributes</a>
                <a target="_top" href="">CSS Global Attributes</a>
                <a target="_top" href="">CSS Browser Support</a>
                <a target="_top" href="">CSS Events</a>
                <a target="_top" href="">CSS Colors</a>
                <a target="_top" href="">CSS Canvas</a>
                <a target="_top" href="">CSS Audio/Video</a>
                <a target="_top" href="">CSS Doctypes</a>
                <a target="_top" href="">CSS Character Sets</a>
                <a target="_top" href="">CSS URL Encode</a>
                <a target="_top" href="">CSS Lang Codes</a>
                <a target="_top" href="">HTTP Messages</a>
                <a target="_top" href="">HTTP Methods</a>
                <a target="_top" href="">PX to EM Converter</a>
                <a target="_top" href="">Keyboard Shortcuts</a>
                <br><br>
            </div>
        </div>
    </nav>
</div>
{% endblock %}

