{%extends 'base.html' %}

{% block title %}
html page
{% endblock %}
{% block contents %}
<div class='navbar-sidebar navbar-collapse' id='sidenav'>
    <nav class="nav navbar-nav navbar-expand-lg navigation-wrap">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div id='leftmenuinner'>

            <div id='leftmenuinnerinner'>

                <h2 class="left"><span class="left_h2">HTML</span> Tutorial</h2>
                <a target="_top" href="#html_home">HTML HOME</a>
                <a target="_top" href="">HTML Introduction</a>
                <a target="_top" href="">HTML Editors</a>
                <a target="_top" href="">HTML Basic</a>
                <a target="_top" href="">HTML Elements</a>
                <a target="_top" href="">HTML Attributes</a>
                <a target="_top" href="">HTML Headings</a>
                <a target="_top" href="">HTML Paragraphs</a>
                <a target="_top" href="">HTML Styles</a>
                <a target="_top" href="">HTML Formatting</a>
                <a target="_top" href="">HTML Quotations</a>
                <a target="_top" href="">HTML Comments</a>
                <a target="_top" href="">HTML Colors</a>

                <a target="_top" href="">HTML CSS</a>

                <a target="_top" href=""> HTML Links</a>
                <a target="_top" href="">Link Bookmarks</a>

                <a target="_top" href="">HTML Images</a>

                <a target="_top" href="">Images</a>
                <a target="_top" href="">Image Map</a>
                <a target="_top" href="">Background Images</a>
                <a target="_top" href="">The Picture Element</a>

                <a target="_top" href="">HTML Favicon</a>
                <a target="_top" href="">HTML Tables</a>

                <a target="_top" href="">HTML Tables</a>
                <a target="_top" href="">Table Borders</a>
                <a target="_top" href="">Table Sizes</a>
                <a target="_top" href="">Table Headers</a>
                <a target="_top" href="">Padding &amp; Spacing</a>
                <a target="_top" href="">Colspan &amp; Rowspan</a>
                <a target="_top" href="">Table Styling</a>
                <a target="_top" href="">HTML Lists</a>

                <a target="_top" href="">Lists</a>
                <a target="_top" href="">Unordered Lists</a>
                <a target="_top" href="">Ordered Lists</a>
                <a target="_top" href="">Other Lists</a>

                <a target="_top" href="">HTML Block &amp; Inline</a>
                <a target="_top" href="">HTML Classes</a>
                <a target="_top" href="">HTML Id</a>
                <a target="_top" href="">HTML Iframes</a>
                <a target="_top" href="">HTML JavaScript</a>
                <a target="_top" href="">HTML File Paths</a>
                <a target="_top" href="">HTML Head</a>
                <a target="_top" href="">HTML Layout</a>
                <a target="_top" href="">HTML Responsive</a>
                <a target="_top" href="">HTML Computercode</a>
                <a target="_top" href="">HTML Semantics</a>
                <a target="_top" href="">HTML Style Guide</a>
                <a target="_top" href="">HTML Entities</a>
                <a target="_top" href="">HTML Symbols</a>
                <a target="_top" href="">HTML Emojis</a>
                <a target="_top" href="">HTML Charset</a>
                <a target="_top" href="">HTML URL Encode</a>
                <a target="_top" href="">HTML vs. XHTML</a>
                <br>
                <h2 class="left"><span class="left_h2">HTML</span> Forms</h2>
                <a target="_top" href="">HTML Forms</a>
                <a target="_top" href="">HTML Form Attributes</a>
                <a target="_top" href="">HTML Form Elements</a>
                <a target="_top" href="">HTML Input Types</a>
                <a target="_top" href="">HTML Input Attributes</a>
                <a target="_top" href="">HTML Input Form Attributes</a>
                <br>
                <h2 class="left"><span class="left_h2">HTML</span> Graphics</h2>
                <a target="_top" href="">HTML Canvas</a>
                <a target="_top" href="">HTML SVG</a>
                <br>
                <h2 class="left"><span class="left_h2">HTML</span> Media</h2>
                <a target="_top" href="">HTML Media</a>
                <a target="_top" href="">HTML Video</a>
                <a target="_top" href="">HTML Audio</a>
                <a target="_top" href="">HTML Plug-ins</a>
                <a target="_top" href="">HTML YouTube</a>
                <br>
                <h2 class="left"><span class="left_h2">HTML</span> APIs</h2>
                <a target="_top" href="">HTML Geolocation</a>
                <a target="_top" href="">HTML Drag/Drop</a>
                <a target="_top" href="">HTML Web Storage</a>
                <a target="_top" href="">HTML Web Workers</a>
                <a target="_top" href="">HTML SSE</a>
                <br>
                <h2 class="left"><span class="left_h2">HTML</span> Examples</h2>
                <a target="_top" href="">HTML Examples</a>
                <a target="_top" href="">HTML Quiz</a>
                <a target="_top" href="">HTML Exercises</a>
                <a target="_top" href="">HTML Certificate</a>
                <a target="_top" href="">HTML Summary</a>
                <a target="_top" href="">HTML Accessibility</a>
                <br>
                <h2 class="left"><span class="left_h2">HTML</span> References</h2>
                <a target="_top" href="">HTML Tag List</a>
                <a target="_top" href="">HTML Attributes</a>
                <a target="_top" href="">HTML Global Attributes</a>
                <a target="_top" href="">HTML Browser Support</a>
                <a target="_top" href="">HTML Events</a>
                <a target="_top" href="">HTML Colors</a>
                <a target="_top" href="">HTML Canvas</a>
                <a target="_top" href="">HTML Audio/Video</a>
                <a target="_top" href="">HTML Doctypes</a>
                <a target="_top" href="">HTML Character Sets</a>
                <a target="_top" href="">HTML URL Encode</a>
                <a target="_top" href="">HTML Lang Codes</a>
                <a target="_top" href="">HTTP Messages</a>
                <a target="_top" href="">HTTP Methods</a>
                <a target="_top" href="">PX to EM Converter</a>
                <a target="_top" href="">Keyboard Shortcuts</a>
                <br><br>

            </div>

        </div>
    </nav>
</div>

{% endblock %}